<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.restaurant.eatenjoy.dao.DayCloseDao">
    <insert id="register" parameterType="DayCloseDto">
        INSERT INTO day_close(restaurant_id, close_date)
        VALUES(#{restaurantId}, #{closeDate})
    </insert>

    <select id="existsByRestaurantIdAndCloseDate" resultType="boolean">
        SELECT EXISTS(SELECT 1
                        FROM day_close
                       WHERE restaurant_id = #{restaurantId}
                         AND close_date = #{closeDate})
    </select>

    <delete id="deleteById" parameterType="long">
        DELETE
          FROM day_close
         WHERE id = #{id}
    </delete>
</mapper>
