<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.restaurant.eatenjoy.dao.MenuGroupDao">
    <insert id="register" parameterType="MenuGroupDto">
        INSERT INTO menu_group(name, sort, used, restaurant_id)
        VALUES(#{name}, #{sort}, #{used}, #{restaurantId})
    </insert>

    <update id="updateById" parameterType="UpdateMenuGroupDto">
        UPDATE menu_group
           SET name = #{id}
             , sort = #{sort}
             , used = #{used}
         WHERE id = #{id}
    </update>
</mapper>