<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.restaurant.eatenjoy.dao.MenuDao">
    <resultMap type="MenuInfo" id="menuInfo">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="intrDc" column="intr_dc"/>
        <result property="price" column="price"/>
        <result property="sort" column="sort"/>
        <result property="menuGroupId" column="menu_group_id"/>
        <association property="file" javaType="FileDto">
            <id property="id" column="file_id"/>
            <result property="origFilename" column="origFilename"/>
            <result property="serverFilename" column="serverFilename"/>
            <result property="filePath" column="filePath"/>
            <result property="size" column="size"/>
        </association>
    </resultMap>

    <select id="findById" parameterType="long" resultMap="menuInfo">
        SELECT A.id
             , A.name
             , A.intr_dc
             , A.price
             , A.sort
             , A.menu_group_id
             , B.id AS file_id
             , B.origFilename
             , B.serverFilename
             , B.filePath
             , B.size
          FROM menu A
          LEFT OUTER JOIN files B
            ON A.file_id = B.id
         WHERE A.id = #{id}
           AND A.used = 1
    </select>

    <insert id="register" parameterType="MenuDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO menu(name, intr_dc, price, sort, menu_group_id)
        VALUES(#{name}, #{intrDc}, #{price}, #{sort}, #{menuGroupId})
    </insert>

    <update id="updateById" parameterType="UpdateMenuDto">
        UPDATE menu
           SET name = #{name}
             , intr_dc = #{intrDc}
             , price = #{price}
             , sort = #{sort}
             , menu_group_id = #{menuGroupId}
             , update_at = now()
         WHERE id = #{id}
           AND used = 1
    </update>

    <update id="updateFileIdById">
        UPDATE menu
           SET file_id = #{fileId}
             , update_at = now()
         WHERE id = #{menuId}
    </update>

    <update id="deleteById" parameterType="long">
        UPDATE menu
           SET used = 0
             , update_at = now()
         WHERE id = #{id}
    </update>
</mapper>