<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.restaurant.eatenjoy.dao.PaymentDao">
    <insert id="register" parameterType="PaymentDto">
        INSERT INTO payment(type, price, reservation_id)
        VALUES(#{type}, #{price}, #{reservation_id})
    </insert>
</mapper>