<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.restaurant.eatenjoy.dao.RestaurantDao">
    <insert id="register" parameterType="RestaurantDto">
        INSERT INTO restaurant(name, bizr_no, address, region_cd, tel_no, intr_dc, min_order_price, payment_type, owner_id, category_id, open_time, close_time)
        VALUES (#{name}, #{bizrNo}, #{address}, #{regionCd}, #{telNo}, #{intrDc}, #{minOrderPrice}, #{paymentType}, #{ownerId}, #{categoryId}, #{openTime}, #{closeTime})
    </insert>

    <select id="findByBizrNo" parameterType="string" resultType="boolean">
        SELECT EXISTS(SELECT bizr_no
                          FROM restaurant
                       WHERE bizr_no = #{bizrNo})
    </select>

    <select id="findAllRestaurantList" parameterType="Long" resultType="RestaurantListDto">
        SELECT id
             , name
             , intr_dc
          FROM restaurant
            WHERE owner_id = #{ownerId}
        <if test=" lastRestaurantId != 0 ">
              AND id <![CDATA[ > ]]> #{lastRestaurantId}
        </if>
          LIMIT 10
    </select>

    <select id="findById" parameterType="Long" resultType="RestaurantInfo">
        SELECT id
             , owner_id
             , name
             , bizr_no
             , address
             , region_cd
             , tel_no
             , intr_dc
             , min_order_price
             , payment_type
             , open_time
             , close_time
        FROM restaurant
          WHERE id = #{restaurantId}
    </select>
</mapper>
