<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.restaurant.eatenjoy.dao.UserDao">
    <select id="existsByLoginId" parameterType="string" resultType="boolean">
        SELECT EXISTS(SELECT 1
                        FROM users
                       WHERE login_id = #{loginId})
    </select>

    <select id="existsByEmail" parameterType="string" resultType="boolean">
        SELECT EXISTS(SELECT 1
                        FROM users
                       WHERE email = #{email})
    </select>

    <insert id="register" parameterType="UserDto">
        INSERT INTO users(login_id, password, email, region_cd)
        VALUES(#{loginId}, #{password}, #{email}, #{regionCd})
    </insert>

    <select id="existsByLoginIdAndPassword" resultType="boolean">
        SELECT EXISTS(SELECT 1
                        FROM users
                       WHERE login_id = #{loginId}
                         AND password = #{password})
    </select>

    <update id="updateEmailCertified" parameterType="string">
        UPDATE users
           SET certified = 1
             , update_at = now()
         WHERE email = #{email}
    </update>

    <select id="findByLoginId" parameterType="string" resultType="UserDto">
        SELECT login_id
             , password
             , email
             , certified
          FROM users
         WHERE login_id = #{loginId}
    </select>
</mapper>